.page {
  font-family: "JetBrainsMono-Regular";
  background-color: #cfcfcf;
  max-width: 100%;
}

.page__content {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .page {
    padding: 0;
  }

  .page__content {
    padding: 0;
  }
}
