.about {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.about__text-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about__author-picture {
  max-width: 350px;
  padding-right: 16px;
}

.about__title {
  margin: 0;
  text-align: center;
}

.about__text {
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 350px) {
  .about__author-picture {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .about {
    flex-direction: column;
    justify-content: center;
  }

  .about__author-picture {
    padding: 0 0 12px 0;
    display: block;
    margin: 0 auto;
  }

  .about__text {
    padding: 0 12px;
  }
}
