.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.header__logo {
  width: 200px;
  height: 150px;
}

.header__title {
  margin: 0;
  font-size: 28px;
}
