.pokedex {
  flex: 1;
}

.pokedex__modal-button {
  border: solid 2px #2f71e5;
  color: #2f71e5;
  background-color: #cfcfcf;
  border-radius: 100px;
  padding: 18px 32px;
  position: relative;
  left: 45%;
}

.pokedex__modal-button:hover {
  cursor: pointer;
  background-color: #2f71e5;
  color: #fff;
}

.pokedex__section {
  background-color: #fff;
  border: solid 2px #2f71e5;
}
